<html>
  <head>
    <title>Socket.IO chat</title>
<link rel="stylesheet" href="/style/style.css">
  </head>
  <body>
    <ul id="messages">
      <% for(const chat of chats.messages){ %>
      <li class="<%= (chat.userId == userId) ? "me" : "he-she"  %>"><%= chat.message %></li>
      <% } %>
    </ul>
    <form id="form" action="">
      <input type="hidden" id="userId" name="userId" value="<%= userId %>" />
      <input id="input" autocomplete="off" />
      <button>Send</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var form = document.getElementById("form");
    var input = document.getElementById("input");
    const userId = document.getElementById("userId").value;

    form.addEventListener("submit", function (e) {
      e.preventDefault();
      if (input.value) {
        var item = document.createElement("li");
        item.textContent = input.value;
        item.style.textAlign = "right";
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
        socket.emit("chat message", {
          pm: input.value,
          conversationId: "649d8282f801cc28ce66e637",
          userId: userId,
        });
        input.value = "";
      }
    });

    socket.on("chat message", function (content) {
      var item = document.createElement("li");
      item.textContent = content.pm;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script>
</html>
