<%- include("./includes/head.ejs") %>
<%- include("./includes/header.ejs") %>

<body>
  <form action="/search" method="POST">
    <input type="text" required autocomplete="off" name="username" placeholder="username enter here" />
    <button type="submit">search</button>
  </form>
</body>
<%- include("./includes/footer.ejs") %>