<%- include("./includes/head.ejs") %>
<%- include("./includes/header.ejs") %>

<script src="/js/socket.js" defer></script>

<body>
  <div class="messenger">
    <div class="head">
      <a href="/">
        <h1>WebChat</h1>
      </a>
      <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <div id="video-section">
    </div>
  </div>
</body>
<%- include("./includes/footer.ejs") %>