<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style/style.css" />
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/js/script.js" defer></script>
  <script src="https://kit.fontawesome.com/c3b23f3c92.js" crossorigin="anonymous"></script>
  <title>Document</title>

</head>